.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: white;
    background-color: rgb(41, 0, 128);
    display: block;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    width: 106%;
    background-color: rgb(87, 87, 224);
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  #searchHistory {
    margin-bottom: 20px;
  }

  #searchHistory button {
    background-color: grey;
  }
  
  #weatherSection {
    margin-left: 35%;
  }
  
  h2 {
    margin-top: -10px;
  }
  
  #forecast {
    display: flex;
    flex-wrap: wrap;
  }
  
  .forecast-item {
    flex-basis: calc(100% / 5);
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .forecast-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .forecast-item p {
    margin: 5px 0;
  }
  